{% extends 'app1/dummy.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block body_block %}
<style>
  .bg{
    background: url('../static/images/food1.jpg') ;
    background-size: cover;
  }
  a{
    border: 2px rgb(76, 5, 5) solid;
    border-radius: 50%;
    padding: 10px;
   
  }
  
</style>
<div class="bg" >
    <div>
      {% if user.username %}
      <h1>WELCOME TO<span style="color:rgb(255, 0, 0); border:2px solid cyan; border-radius: 30% 0 30% 0; background-color: green; margin:5px;"> <i>Megha<i></span><span style="color: cyan;">food center</span> :{{user.username}}</h1>
			{% else %} 
      <h1>WELCOME TO<span style="color:rgb(255, 0, 0); border:2px solid cyan; border-radius: 30% 0 30% 0; background-color: green; margin:5px;"> <i>Megha<i></span><span style="color: cyan;">food center</span></h1>
      {% endif %}
     <h5> <a href="{% url 'iteams' %}">Click Here To Get Menu</a></h5>
         
		</div>
    
	</div>
</div>
{% endblock %}