{% extends 'app1/dummy.html' %}
{% block title %}
<title>iteams</title>
{% endblock %}

{% block body_block %}
<center>
<p id="color"> <span>Indian Dinner Menu:</span>
    Appetizer. Chicken Tikka Kebab. Khaman. Mint Cilantro Chutney.<br>
    <span>Drinks:</span> Shikanji Nimbu Pani.<br>
    <span>Main course:</span> Rajma. Palak Paneer. Chicken Tikka Masala.<br>
    <span> Rice dish:</span> Jeera Rice.<br>
    <span> Bread:</span> Naan.<br>
    <span> Raita:</span> Boondi raita.<br>
    <span> Dessert:</span> Kheer and/or Gulab Jamun.<br>
</p>
</center>

{% endblock %}